AICREDITS_API_KEY=sk-live-xyz
TAVILY_API_KEY=tvly-dev-xyz
DB_URI=postgresql://postgres.cnyhcvqzsnbmbukkodjb:xyz@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres
JWT_SECRET_KEY=SECRET KEY

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=lsv2_xyz
LANGCHAIN_PROJECT=IngrediLens-prod