langgraph
langgraph-checkpoint-postgres

langchain
langchain-openai
langchain-tavily

langsmith

psycopg
psycopg-pool

python-dotenv

fastapi
uvicorn

sqlalchemy
psycopg2-binary

passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]

pydantic[email]